<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.cliente.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.cliente.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.cliente.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.cliente.AlterarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FornecedorServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.fornecedor.FornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFornecedorServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.fornecedor.ExcluirFornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFornecedorServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.fornecedor.CadastrarFornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFornecedorServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.fornecedor.AlterarFornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.usuario.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.usuario.CadastrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuarioServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.usuario.AlterarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.usuario.ExcluirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.produto.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.produto.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.produto.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.produto.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClienteServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.cliente.BuscarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarFornecedorServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.fornecedor.BuscarFornecedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuarioServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.usuario.BuscarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProdutoServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.produto.BuscarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.venda.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarVendaServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.venda.FinalizarVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinlaizarVendaServlet</servlet-name>
        <servlet-class>com.pi.systeminstruverso.servlet.venda.FinlaizarVendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <url-pattern>/AlterarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FornecedorServlet</servlet-name>
        <url-pattern>/FornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFornecedorServlet</servlet-name>
        <url-pattern>/ExcluirFornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFornecedorServlet</servlet-name>
        <url-pattern>/CadastrarFornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFornecedorServlet</servlet-name>
        <url-pattern>/AlterarFornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioServlet</servlet-name>
        <url-pattern>/CadastrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuarioServlet</servlet-name>
        <url-pattern>/AlterarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <url-pattern>/ExcluirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClienteServlet</servlet-name>
        <url-pattern>/BuscarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarFornecedorServlet</servlet-name>
        <url-pattern>/BuscarFornecedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuarioServlet</servlet-name>
        <url-pattern>/BuscarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProdutoServlet</servlet-name>
        <url-pattern>/BuscarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarVendaServlet</servlet-name>
        <url-pattern>/FinalizarVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinlaizarVendaServlet</servlet-name>
        <url-pattern>/FinlaizarVendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
